body {
    background-color: lightgrey;
}

nav {
    background-color: lightblue;
}

nav ul {
    display: flex;
    gap: .75rem;
    list-style: none;
}

.container {
    background-color: pink;
}

#main {
    background-color: lightgreen;
}